@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.search-results-container {
    background-color: white;
    color: black;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.search-item {
    background-color: #facbc8;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.search-item h4 {
    margin-top: 0;
}

.average-rating {
    margin-top: 10px;
}